body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #181818;
    color: #fff;
}

.login-container {
    background-color: #2e2d2d;
    padding: 2rem;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

h2 {
    margin-top: 0;
    color: #fff;
}

form {
    display: flex;
    flex-direction: column;
}

input {
    margin-bottom: 1rem;
    padding: 0.5rem;
    border: 1px solid #444;
    border-radius: 3px;
    background-color: #333;
    color: #fff;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 0.5rem;
    border-radius: 3px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#status {
    margin-top: 1rem;
    text-align: center;
    color: #ccc;
}